@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800');


.main {
  background: linear-gradient(45deg, #a83279, #ffb246);
}

.happening {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  color: #464242;
}


.happening.light {
  font-weight: 300;
}

.happening.bold {
  font-weight: 800;
}