@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800');


.main {
  background: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
  height: 80vh
}

.happening {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  color: #464242;
  margin: 0;
  padding: 3% 0;
}


.happening.light {
  font-weight: 300;
}

.happening.bold {
  font-weight: 800;
}