@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800');

.main {
  height: 80vh;
  position: relative;
}

.main .separator {
  position: absolute;
  bottom: 0px;
  height: auto;
  width: 100%;
  line-height: 0px;
}

.happening {
  color: #464242;
  text-align: center;
}

.happening .inline {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin-top: 3%;
}

.happening .inline.light {
  font-weight: 300;
}

.happening .inline.bold {
  font-weight: 800;
}
