@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800');

.title {
  position: fixed;
  top: 3%;
  margin-left: 8%;
  z-index: 999;
}

.title .inline {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  margin: 0;
  line-height: 40px;
  word-wrap: break-word;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.title .inline.name {
  font-weight: 500;
}

.title .inline.surname {
  font-weight: 800;
}