.detail {
   position: relative;
}

.detail .cover {
   max-height: 70vh;
   overflow: hidden;
   object-fit: contain;
}
.detail .cover img {
   width: 100%;
   filter: brightness(50%);
}

.detail .post-detail {
   width: 100%;
   margin: 0;
   margin-top: -30vh;
   position: relative;
}

.detail .post-detail .wrapper {
   height: 500px;
   background: red;
   border-radius: 40px;
}
