@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

.footer {}


.footer svg g#Rectangle {
   fill: currentColor;
}

.footer .footer-container {
   padding: 10px 8% 20px 8%;
   background: #fff;
   width: 100%;
}

.footer .footer-container .footer-text p {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: #666464;
}

.footer .footer-container .footer-text p b {
   font-weight: 700;
}

.footer .footer-separator {
   margin-bottom: 0px;
   line-height: 0;
   background: #f5f5f5;
}