@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.keep-calm {
   padding-left: 8%;
   padding-right: 5%;
}

.keep-calm .title-side {
   font-family: 'Montserrat', sans-serif;
   display: block;
   color: white;
}

.keep-calm .title-side .first {
   font-weight: 500;
   font-size: 3em;
   margin: 0;
   line-height: 0;
}

.keep-calm .title-side .second {
   font-weight: 700;
   font-size: 4.5em;
   margin: 0;
   line-height: 1.7em;
}

.keep-calm .information {
   margin-top: 10px;
}

.keep-calm .information p {
   font-size: 1.125em;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   color: rgba(255, 255, 255, 0.7);
   margin: 5px 0;
}

.keep-calm .information p a {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.7);
   transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   margin: 0 2.5px;
}

.keep-calm .information p a:hover {
   color: rgba(255, 255, 255, 1);
}