@import url('https://fonts.googleapis.com/css?family=Montserrat:600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

.post {
    padding: 20px 0;
    background: #f5f5f5;
}

.post .content {
    word-break: break-word;
}

.post .content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #464242;
}

.post .content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #8d8b8b;
}


.post .bottom {
    font-family: 'Montserrat', sans-serif;
}

.post .bottom .link {
    color: inherit !important;
    text-decoration: none;
}

.post .bottom .link .read-more {
    font-family: inherit;
    font-weight: 800;
    letter-spacing: 3px;
    float: right;
    color: #fdb045;
}

.post .bottom .date {
    color: rgba(0, 0, 0, 0.54);
}

.post .bottom .date p {
    color: #b1b1b1;
    display: inline-block;
    font-size: .9em;
    padding-left: 10px;
}