@import url('https://fonts.googleapis.com/css?family=Montserrat:600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

.post {
    margin: 5% auto;
    max-width: 70%;
}

.post .content {
    position: relative;
    display: block;
    height: 100%;
    padding: 20px 7.5%;
}

.post .content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    color: #464242;
}

.post .content p {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #8d8b8b;
}

.post .content .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.post .content .bottom .date {
    color: rgba(0, 0, 0, 0.5);
}
.post .content .bottom .date p {
    color: #b1b1b1;
    display: inline-block;
    margin-left: 3%;
    font-size: 1em;
}

.post .content .bottom .read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    float: right;
    color: #fdb045;
}
